

:root {
    --body-font: 'Figtree', sans-serif;
    --color-body: #e8f3f8;
    --color-header: #061b25;
    --color-text: var(--color-header);
    --color-text-muted: #a4d0e3;
    --color-input: #082937;
    --color-secondary: #ff8c42;
    --color-secondary-darker: #cc7035;
    --color-tertiary: #1c89b8;
    --color-text-barge: #e8f3f8;
    --color-disabled: #d2e7f1;
    --color-text-disabled: #77b8d4;
    
    --global-border-radius: 6px;
    --global-transition: all .2s ease-in-out;




}

*{
    margin: 0;
    padding: 0;
    
}
html{
    font-size: 18px;
   
}

body{
    font-family: var(--body-font);
    background-color: var(--color-body);
    color: var(--color-text);
    
}

.container{
    padding: 20px 20px;

}
button,
input[type="checkbox"]{
    cursor: pointer;
}

ol,ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1{
    color: white;
    margin-bottom: 0 0 2 rem;
}
a{
    color: var(--color-text);
    transition: var(--global-transition);

}

a:hover {
    color: var(--color-secondary);
}

#todo-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#todo-form input {
    background-color: var(--color-input);
    border: 0;
    padding: 1rem;
    border-radius: var(--global-border-radius);
    outline: 0;
    color: white;

}

#todo-form input:hover,
#todo-form input:focus {
    background-color: var(--colo-input-lighter);
}

#todo-form input {
    background-color: var(--color-input);
}

#todo-form input::placeholder {
    color: var(--color-text-muted);
}

#todo-form button {
    border: 0;
    padding: 1rem;
    border-radius: var(--global-border-radius);
    font-weight: 700;
    text-transform: uppercase;
    color:white;
    background-color: var(--color-secondary);
}
#todo-form button:hover{
    background-color: var(--color-secondary-darker);
}

#todo-form button :active {
    background-color: var(--color-secondary-lighter);
}
#todo-form button,
#todo-form input {
    transition: var(--global-transition);
}

small,
#todo-form button,
.stats span {
    font-size: .75rem;
}




#main-header {
    background-color: var(--color-header);
    padding: 3rem 0;
    margin-bottom: 2rem;
}

.stats {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem; 
}
.stats li{
    display: flex;
}

.stats span{
    padding: .25rem .5rem;
}


.stats span:first-child {
    background-color:var(--color-header);
    color: var(--color-text-muted);
    border-radius:var(--global-border-radius) 0 0 var(--global-border-radius);

}
.stats span:nth-child(2) {
    background-color:var(--color-tertiary);
    color: var(--color-body);
    border-radius: 0 var(--global-border-radius) var(--global-border-radius) 0;
    font-weight: 700;

}

.todos {
    margin-bottom: 4rem;
}

.todos li {
    background-color:white;
    border-radius: var(--global-border-radius);
    margin-bottom: 1rem;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items:center;


}
.todos li div{
    display: flex;
    align-items: center;
    gap: .75rem;
}

.todos li.complete {
    background-color: var(--color-disabled);
    text-decoration: line-through;
    color: var(--color-text-disabled);
}

input[type='checkbox']{
    /*appearance: none;
    background-color: transparent;*/
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    /*border: 2px solid var(--color-text);*/
    border-radius: 100%;
    display: grid;
    place-content: center;
    transition: var(--global-transition);


}

/*input [type='checkbox']::before {
    content: url("data:image/svg+xml,%3Csvg width='21' height='16' viewBox='0 0 21 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.73318 11.5219L17.8453 0.513119C18.1906 0.171039 18.63 0 19.1637 0C19.6973 0 20.1368 0.171039 20.4821 0.513119C20.8274 0.855199 21 1.29057 21 1.81924C21 2.34791 20.8274 2.78329 20.4821 3.12537L8.05157 15.4402C7.67489 15.8134 7.23542 16 6.73318 16C6.23094 16 5.79148 15.8134 5.4148 15.4402L0.517936 10.5889C0.172645 10.2468 0 9.81147 0 9.2828C0 8.75413 0.172645 8.31876 0.517936 7.97668C0.863228 7.6346 1.30269 7.46356 1.83632 7.46356C2.36995 7.46356 2.80942 7.6346 3.15471 7.97668L6.73318 11.5219Z' fill='white'/%3E%3C/svg%3E%0A");
    transform: scale(0);
    transition: var(--global-transition);
}

input [type='checkbox']:checked {
    background-color: var(--color-text-disabled);
    border-color: var(--color-text-disabled);
}

input [type='checkbox']:checked::before{
    transform: scale(1)


}*/

.todos li button {
    border:0;
    padding: .25rem;
    display: grid;
    place-content: center;
    background-color: transparent;

}
.todos li button svg{
    width: 1.25rem;
    height: 1.25rem;
}

.todos li button svg path{
    transition: var(--global-transition);
}

.todos li button:hover svg path{
    stroke: var(--color-text);
}
.todos li button:active svg path{
    transform: scale(.8);

}
.todos li span{
    padding: 2px;
    border-radius: var(--global-border-radius);
    transition: var(--global-transition);
}
.todos li span:focus {
    background-color: var(--color-body);
    outline: none;
}

.todos li span[contenteditable]:hover {
    background-color: var(--color-body);
}  




@media screen and (min-width: 768px){
    .container {
        max-width: 30rem;
        margin: 0 auto;
        position: relative;
    }
    #todo-form{
        flex-direction: row;
    }
    #todo-form input {
        flex-grow: 1;
    }
 }

@media screen and (min-width: 1024px){
    .stats {
        flex-direction: column;
        align-items:flex-end;
        position: absolute;
        top: 0;
        transform: translateX(-100%);
        padding-right: 4rem;

    }
    
 }

 